<!-- Don't need title for person ballot -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Faculty Voting</title>

    <!-- Bootstrap -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/create.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Start body -->
<body ng-app="createApp" ng-controller="CreateCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Create a new election</h1>
                <form id="elecForm">
                    <div class="form-group">
                        <label for="elecTitle1">Title: </label>
                        <input ng-model="electionData.title" type="text" class="form-control" id="elecTitle1" name="eTitle">
                    </div>
                    <div class="form-group">
                        <label for="elecSchool1">School: </label>
                        <select ng-model="electionData.school" class="form-control" name="elecSchool" id="elecSchool1">
                            <option value="business">Business</option>
                            <option value="english">English</option>
                            <option value="science">Science</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="elecFac1">Faculty: </label>
                        <select ng-model="electionData.faculty" class="form-control" name="elecFac" id="elecFac1">
                            <option value="fullTime">Full-Time</option>
                            <option value="partTime">Part-Time</option>
                            <option value="residents">Residents</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <h2>Add a ballot: </h2>
                <form ng-submit="processBallot()" name="ballotForm">
                    <label class="radio-inline">
                        <input ng-model="ballotData.type" type="radio" name="ballotType" value="yn" ng-click="resetForm()">
                        Yes/No
                    </label>
                    <label class="radio-inline">
                        <input ng-model="ballotData.type" type="radio" name="ballotType" value="person" ng-click="resetForm()">
                        Person
                    </label>
                    <div class="form-group" id="form-group-yn" ng-show="ballotData.type == 'yn'">
                        <label for="ynTitle1">Title: </label>
                        <input ng-model="ballotData.title" class="form-control" id="ynTitle1" type="text" name="ynTitle">
                    </div>
                    <div class="form-group" id="form-group-person" ng-show="ballotData.type == 'person'">
                        <label for="personPos1">Position: </label>
                        <input ng-model="ballotData.position" class="form-control" id="personPos1" type="text" name="personPos">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add this Ballot</button>
                </form>
            </div>
            <div class="col-sm-6">
                <h2>Added ballots: </h2>
                <div id="ballotHolder">
                </div>
                <button type="button" ng-click="submitElection()" class="btn btn-primary">Submit Election</button>
            </div>
        </div>
    </div>
    <!-- Angular & jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/app.js"></script>
</body>
<!-- End body -->

</html>